@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext');

body {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 18px;

    text-transform: uppercase;
}

.vissualy-hidden {
    display: none;
}
.main-header {
    z-index: 30;

    min-width: 320px;
    margin: 0 auto;
}

.main-header__nav {
    position: relative;
    z-index: 30;

    height: 56px;
}

.logo {
    position: absolute;
    z-index: 30;

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 82px;
    padding-left: 0;

    cursor: pointer;

    justify-content: center;
}
.logo__picture {
    width: 102px;
}
.logo__image {
    position: absolute;
    z-index: 30;

    width: 102px;
    height: 83px;
}

.site-navigation__hamburger {
    position: absolute;
    z-index: 30;
    top: 86%;
    left: 85%;

    cursor: pointer;
}

.site-navigation {
    position: relative;
    z-index: 30;

    min-width: 320px;
    height: 275px;
    margin: 0 auto;
}

.site-navigation__exit {
    position: absolute;
    z-index: 20;
    top: 7%;
    left: 85%;

    cursor: pointer;
}

.site-navigation__list {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 220px;
    margin: 0;
    padding-left: 0;

    list-style-type: none;

    text-align: center;

    color: white;
    background-color: #9ac0da;

    justify-content: center;
}

.site-navigation__item {
    min-width: 320px;
    height: 35px;
    padding-top: 20px;

    cursor: pointer;

    box-shadow: 0 1px 0 rgba(1, 1, 1, .2);
}

.main-container {
    z-index: 10;

    min-width: 320px;
    margin: 0 auto;
}

.main-container__intro {
    position: relative;
    z-index: 20;

    display: flex;
    min-width: 320px;
    height: 389px;
    margin: 0 auto;

    background-image: url('../img/back-mobile.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    justify-content: center;
    align-items: center;
}

.intro__text {
    position: absolute;
}

.main-container__about {
    position: relative;
    z-index: 20;

    min-width: 320px;
    height: 225px;
    margin: 0 auto;
}



.feature__title {
    margin-top: 0;

    font-size: 18px;

    text-align: center;
}

.feature__content {
    font-size: 14px;
    line-height: 25px;

    text-align: center;
}
.feature__number {
    display: block;

    font-size: 14px;

    text-align: center;
}

.about__title,
.about__content {
    width: 79.8%;
    margin: 0 9.37% 0 9.37%;

    text-align: center;
}
.about__title {
    padding-top: 45px;

    font-size: 18px;
}
.about__content {
    padding-top: 30px;

    font-size: 14px;
    line-height: 25px;

    text-align: center;
}
.features {
    display: flex;
    flex-direction: row;
    min-width: 320px;
    margin: 0 auto;

    flex-wrap: wrap;
}

.feature--ralated {
    width: 100%;
    height: 512px;
    font-size: inherit;
    color: white;
}

.feature--ralated .feature__text {
    width: 100%;
    height: 256px;
    background-color: #9ac0da;
}
.feature--ralated .feature__title {
    padding-top: 50px;
}
.feature--ralated .feature__content--city {
    width: 86.5625%;
    margin-bottom: 45px;
    padding-left: 10%;
}

.feature--ralated .feature__content {
    width: 73.4375%;
    margin-bottom: 25px;
    padding-left: 13.125%;
}

.feature__image--city,
.feature__image--bridge {
    width: 100%;
    height: 256px;
}

.feature--apartments,
.feature--food,
.feature--souvenirs  {
    width: 100%;
}
.feature--apartments .feature__title,
.feature--food .feature__title,
.feature--souvenirs  .feature__title {
    position: relative;

    margin-bottom: 25px;
    padding-left: 21.875%;

    text-align: left;
}

.feature--apartments .feature__title {
    margin-top: 48px;
}
.feature--apartments .feature__title:before {
    position: absolute;
    bottom: -5px;
    left: 6.25%;

    width: 39px;
    height: 37px;

    content: '';

    background-image: url('../img/icon-house.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 39px 37px;
}
.feature--food .feature__title:before {
    position: absolute;
    bottom: -5px;
    left: 6.25%;

    width: 40px;
    height: 35px;

    content: '';

    background-image: url('../img/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-size: 40px 35px;
}
.feature--souvenirs .feature__title:before {
    position: absolute;
    bottom: -5px;
    left: 6.25%;

    width: 32px;
    height: 38px;

    content: '';

    background-image: url('../img/icon-gift.svg');
    background-size: 32px 38px;
}
.feature--apartments .feature__content,
.feature--food .feature__content,
.feature--souvenirs .feature__content {
    padding-bottom: 41px;
    padding-left: 21.875%;

    text-align: left;
}
.feature--apartments .feature__content {
    width: 65.625%;
}

.feature--souvenirs .feature__content {
    width: 62.1875%;
}
.feature--food .feature__content {
    width: 56.25%;
}

.feature--grey {
    height: 166px;
    width: 100%;

    background-color: #eee;
}
.feature--grey .feature__title {
    padding-top: 30px;
}

.feature--grey .feature__content {
    width: 65%;
    padding: 0 17.5%;
}

.hotel-search {
    width: 100%;
    height: 288px;
    margin: 0 auto;

    text-align: center;
}

.hotel-search__title {
    padding-top: 20px;

    font-size: 21px;
    font-weight: 600;
}

.hotel-search__suggestion {
    width: 80.3125%;
    margin-left: 40px;

    font-size: 14px;
    line-height: 21px;
}
.btn {
    cursor: pointer;
    text-transform: uppercase;

    border: none;
    outline: none;
}
.hotel-search__btn {
    width: 87.5%;
    height: 58px;

    font-size: 18px;

    color: white;
    background-color: #81b2d1;
}
.map {
    width: 100%;
    height: 350px;
    margin: 0 auto;

    background-image: url('../img/map-mobile.jpg');
}

.main-footer {
    width: 100%;
    height: 233px;
    margin: 0 auto;

    text-align: center;
}

.link {
    display: block;
    padding-top: 31px;

    font-weight: 700;

    text-decoration: none;

    color: black;
}

.social-btn {
    display: flex;
    flex-direction: row;
    width: 150px;
    padding-left: 90px;

    list-style-type: none;

    justify-content: space-between;
}
.social-btn__item {
    display: flex;
    width: 46px;
    height: 48px;

    background-color: #81b2d1;

    justify-content: center;
    align-items: center;
}

.copyrights {
    position: relative;
}
.copyrights__development {
    position: absolute;
    top: 15px;
    left: 74px;

    font-size: 14px;
}
.copyrights__logo {
    position: absolute;
    right: 30px;
}

@media only screen
and (min-width: 350px)
and (max-width: 768px) {
    .main-container__intro {
        background-image: url('../img/back-tablet.jpg');
        background-position: 50%;
        background-size: cover;
    }
}

/*Tablet*/
@media only screen
and (min-width: 768px)
and (max-width: 1200px) {
    .main-header {
        min-width: 768px;
        height: 56px;
    }

    .logo {
        position: absolute;
        z-index: 30;
        top: 0;

        display: flex;
        flex-direction: row;
        width: 100%;

        justify-content: center;
    }
    .logo__image {
        position: absolute;
        z-index: 30;

        width: 102px;
        height: 83px;
    }

    .site-navigation {
        min-width: 768px;
        height: 56px;
    }

    .site-navigation__list {
        display: flex;
        flex-direction: row;
        min-width: 768px;
        height: 56px;

        background-color: white;

        justify-content: space-around;
    }

    .site-navigation__item {
        min-width: 13%;
        height: 56px;

        font-size: 14px;
        font-weight: bold;

        color: black;
        box-shadow: none;
    }
    .site-navigation__item:nth-child(2) {
        padding-right: 15%;
    }
    .site-navigation__item:nth-child(3) {
        padding-left: 0;
    }

    .main-container__intro {
        z-index: 10;

        min-width: 768px;
        height: 518px;
        margin: 0 auto;

        background-image: url('../img/back-tablet.jpg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }

    .intro__text {
        width: 460px;
        height: 350px;
    }

    .about__title {
        width: 59.375%;


        padding-left: 11%;

        font-size: 21px;
    }

    .about__content {
        width: 63.28125%;
        padding-left: 9%;
    }

    .main-container__about {
        min-width: 768px;
        margin: 0 auto;
        height: 210px;
    }

    .main-container {
        min-width: 768px;
        min-height: 2640px;
    }

    .main-header__logo {
        padding-left: 45%;
    }

    .logo__image {
        z-index: 30;

        width: 102px;
        height: 83px;
    }

    .site-navigation__hamburger,
    .site-navigation__exit {
        display: none;
    }

    .features {
        width: 100%;
        height: 1100px;
        margin: 0 auto;
    }

    .feature--ralated {
        display: flex;
        flex-direction: row;
        min-width: 768px;
        height: 256px;

        justify-content: space-between;
    }
    .feature--city {
        order: 0;
    }
    .feature--bridge {
        flex-direction: row-reverse;

        order: 5;
    }
    .feature--bridge .feature__title {
        padding-left: 17.25%;
    }
    .feature__text {
        width: 256px;
        max-width: 400px;
        height: 256px;
        text-align: center;
    }

    .feature--city .feature__title {
        width: 49.609%;
        padding-left: 25%;
    }

    .feature__title {
        width: 256px;

        font-size: 21px;
    }

    .feature__text .feature__content--city,
    .feature__text .feature__content--bridge {
        width: 64.0625%;

        font-size: 13px;
        font-weight: normal;
        padding-left: 17.5%;

    }

    .feature--apartments,
    .feature--food,
    .feature--souvenirs,
    .feature--grey {
        width: 33.33%;
        height: 332px;
    }

    .feature--apartments {
        order: 2;
    }

    .feature--food {
        order: 3;
    }

    .feature--souvenirs {
        order: 4;
    }

    .feature--apartments .feature__title,
    .feature--food .feature__title,
    .feature--souvenirs .feature__title {
        width: 256px;
        padding-top: 159px;


        text-align: center;
    }
    .feature--apartments .feature__title {
        margin-top: 0;
        width: 100%;
        padding-left: 0;
    }
    .feature--food .feature__title,
    .feature--souvenirs .feature__title {
        padding-left: 0;
        width: 100%;
    }

    .feature--apartments .feature__title:before {
        bottom: 50px;

        width: 75px;
        height: 72px;
        padding-left: 59%;

        background-size: 75px 72px;
    }

    .feature--food .feature__title:before {
        bottom: 50px;

        width: 77px;
        height: 68px;
        margin-left: 30%;

        background-repeat: no-repeat;
        background-size: 77px 68px;
    }
    .feature--souvenirs .feature__title:before {
        bottom: 50px;

        width: 64px;
        height: 75px;
        margin-left: 32%;

        background-repeat: no-repeat;
        background-size: 64px 75px;
    }
    .feature--apartments .feature__content,
    .feature--food .feature__content,
    .feature--souvenirs .feature__content {
        width: 64.45%;


        font-size: 14px;

        text-align: center;
    }

    .feature__image--city,
    .feature__image--bridge {

        height: 256px;
    }
    .feature--grey {
        width: 33.3%;
        height: 256px;

        order: 6;
    }

    .feature--grey .feature__content {
        width: 60.93%;
        height: 63px;

        font-size: 14px;

        text-align: center;
        word-wrap: break-word;
        word-break: normal;
        hyphens: auto;

        overflow-wrap: break-word;
    }

    .feature--grey .feature__title {
        width: 130px;
        padding-left: 28.5%;

        font-size: 21px;
        line-height: 26px;
    }
    .hotel-search {
        width: 768px;
        height: 320px;
        margin: 0 auto;
    }
    .hotel-search__title {
        font-size: 30px;
    }
    .hotel-search__suggestion {
        width: 434px;
        padding-left: 17%;

        font-size: 14px;
        line-height: 24px;
    }

    .hotel-search__btn {
        width: 59.6354%;
        height: 58px;

        font-size: 21px;
    }

    .map {
        width: 100%;
        margin: 0 auto;
    }

    .main-footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 120px;
        margin: 0 auto;

        justify-content: space-around;
        align-items: center;
    }

    .main-footer__link {
        height: 23px;
        padding-left: 10%;
    }

    .main-footer__link .link {
        padding-top: 0;
    }
    .social-btn {
        padding-left: 15%;
    }
    .copyrights {
        position: relative;

        display: flex;
        flex-direction: row;
        width: 300px;
        height: 50px;
        margin-top: 20px;

        justify-content: space-between;
    }
    .copyrights__development {
        position: absolute;
        left: 60px;
    }
}

@media only screen
and (min-width: 900px)
and (max-width: 1200px) {
    .intro {
        background-image: url('../img/back-desktop@1x.jpg');
        background-position: 50%;
    }
}

@media only screen
and (min-width: 1024px)
and (max-width: 1200px) {
    .about__title {
        width: 47.460%;
        padding-left: 17.578125%;
    }
    .feature--grey .feature__title {
       padding-left: 30.79%;
    }

    .feature--food .feature__title:before {
        margin-left: 32.84%;
    }
    .feature--apartments .feature__title:before {
        padding-left: 62.84%;
    }
}

/*Desktop*/
@media only screen
and (min-width: 1200px)
and (max-width: 3800px) {
    .main-header {
        width: 1200px;
        height: 56px;
    }

    .main-header__logo {
        position: absolute;
        top: 0;
    }

    .logo {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .logo__picture {
        display: flex;
        justify-content: center;
        width: 188px;
        height: 96px;
    }
    .site-navigation {
        width: 1200px;
        height: 56px;
    }

    .site-navigation__list {
        display: flex;
        flex-direction: row;
        width: 1200px;
        height: 56px;

        background-color: white;

        justify-content: space-around;
    }

    .site-navigation__item {
        min-width: 19.916%;
        height: 56px;

        font-size: 14px;
        font-weight: bold;

        color: black;
        box-shadow: none;
    }

    .site-navigation__item:nth-child(3) {
        padding-left: 10%;
    }

    .main-container__intro {
        width: 1200px;
        height: 518px;
        margin: 0 auto;

        background-image: url('../img/back-desktop@1x.jpg');
        background-repeat: no-repeat;
        background-size: 1200px auto;
    }

    .intro__text {
        width: 460px;
        height: 350px;
    }
    .about {
        height: 210px;
    }
    .about__title {
        width: 486px;
        padding-left: 21%;

        font-size: 21px;
    }

    .about__content {
        width: 40.5%;
        padding-left: 21%;
    }

    .main-container__about {
        width: 1200px;
        margin: 0 auto;
    }

    .features {
        min-width: 1200px;
        height: 1100px;
        margin: 0 auto;
    }
    .big-container {
        width: 1200px;
        margin: 0 auto;

        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    }
    .main-container {
        min-width: 1200px;
        min-height: 2640px;
    }

    .logo__image {
        z-index: 30;

        width: 188px;
        height: 96px;
    }

    .site-navigation__hamburger,
    .site-navigation__exit {
        display: none;
    }

    .feature--ralated {
        display: flex;
        flex-direction: row;
        min-width: 1200px;
        height: 256px;

        justify-content: space-between;
    }
    .feature--bridge {
        flex-direction: row-reverse;

        order: 5;
    }
    .feature--bridge .feature__title {
        padding-left: 26.25%;
    }

    .feature--city {
        order: 0;
    }


    .feature__text {
        width: 400px;
        height: 256px;

        text-align: center;
    }
    .feature__title {
        width: 180px;
        padding-left: 28%;

        font-size: 21px;
    }

    .feature__text .feature__content--city,
    .feature__text .feature__content--bridge {
        width: 257px;
        padding-left: 18%;

        font-size: 14px;
        font-weight: lighter;

        text-align: center;
    }

    .feature--apartments,
    .feature--food,
    .feature--souvenirs,
    .feature--grey {
        width: 400px;
        height: 332px;
    }
    .feature--apartments .feature__title,
    .feature--food .feature__title,
    .feature--souvenirs .feature__title {
        width: 400px;
        margin-top: 0;
        padding-top: 160px;
        padding-left: 0;

        font-size: 21px;

        text-align: center;
    }

    .feature--apartments .feature__title:before {
        bottom: 50px;

        width: 75px;
        height: 72px;
        margin-left: 35%;

        background-size: 75px 72px;
    }

    .feature--food .feature__title:before {
        bottom: 50px;
        left: 40%;

        width: 77px;
        height: 68px;

        background-size: 77px 68px;
    }
    .feature--souvenirs .feature__title:before {
        bottom: 50px;
        left: 43%;

        width: 64px;
        height: 75px;

        background-size: 64px 75px;
    }

    .feature--apartments {
        order: 2;
    }

    .feature--food {
        order: 3;
    }

    .feature--souvenirs {
        order: 4;
    }

    .feature--apartments .feature__content,
    .feature--food .feature__content,
    .feature--souvenirs .feature__content {
        padding-left: 22%;

        font-size: 14px;

        text-align: center;
    }
    .feature--apartments .feature__content {
        width: 252px;
    }
    .feature--food .feature__content {
        width: 269px;
    }

    .feature--souvenirs .feature__content {
        width: 214px;
    }

    .feature__image--city,
    .feature__image--bridge {
        width: 800px;
        height: 256px;
    }

    .feature--grey {
        width: 400px;
        height: 256px;

        order: 5;
    }

    .feature--grey .feature__title {
        width: 120px;
        padding-left: 35%;
    }

    .feature--grey .feature__content {
        width: 258px;
        height: 37px;
        padding-left: 19%;

        font-size: 14px;

        text-align: center;
        hyphens: auto;
    }
    .hotel-search {
        width: 768px;
        height: 320px;
        margin: 0 auto;
    }

    .hotel-search__title {
        font-size: 30px;
    }
    .hotel-search__btn {
        width: 458px;
        height: 58px;

        font-size: 21px;
    }
    .hotel-search__suggestion {
        width: 434px;
        padding-left: 17%;
    }

    .map {
        width: 1200px;
        margin: 0 auto;
    }
    .main-footer {
        display: flex;
        flex-direction: row;
        width: 1200px;
        height: 120px;
        margin: 0 auto;

        justify-content: space-around;
        align-items: center;
    }
    .social-btn {
        padding-left: 15%;
    }
    .copyrights {
        position: relative;

        display: flex;
        flex-direction: row;
        width: 300px;
        height: 50px;
        margin-top: 20px;

        justify-content: space-between;
    }

    .copyrights__development {
        position: absolute;
        left: 50px;
    }
}
