@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext');

body {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 18px;

    text-transform: uppercase;
}

.vissualy-hidden {
    display: none;
}
.big-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 500px;
    margin: 0 auto;
}

.main-header {
    min-width: 320px;
    margin: 0 auto;
}

.main-header__nav {
    height: 56px;
    position: relative;
}

.main-header__logo {
    z-index: 30;

    padding-left: 35%;
    position: absolute;
}

.site-navigation__hamburger {
    z-index: 30;
    position: absolute;

    padding-top: 5%;
    padding-left: 85%;
    cursor: pointer;
}

.site-navigation {
    position: relative;
    width: 329px;
    min-height: 275px;
    margin: 0 auto;
}

.site-navigation__exit {
    position: absolute;
    top: 7%;
    left: 85%;
    cursor: pointer;
}

.site-navigation__list {
    min-height: 186px;
    margin: 0;
    padding-left: 0;

    list-style-type: none;

    width: 320px;

    text-align: center;

    color: white;
    background-color: #9ac0da;
}

.site-navigation__item {
    height: 35px;
    padding-top: 20px;
    cursor: pointer;
    width: 320px;
    box-shadow: 0 1px 0 rgba(1, 1, 1, .2);
}

.main-container {
    width: 320px;
    margin: 0 auto;
}

.main-container__intro {
    position: relative;
    z-index: 20;

    height: 389px;

    background-image: url('../img/back-mobile.jpg');
}

.intro__text {
    padding-top: 90px;
    padding-left: 20px;
}

.main-container__intro::after {
    position: absolute;
    z-index: 30;
    bottom: 0;
    left: 0;

    width: 320px;
    height: 28px;

    content: '';

    background-image: url('../img/intro-triangle.svg');
}
.main-container__about {
    position: relative;
    z-index: 20;

    height: 225px;
    margin: 0;
}

.main-container__about::after {
    position: absolute;
    z-index: 30;
    bottom: -10px;
    left: 0;

    width: 320px;
    height: 28px;

    content: '';

    background-image: url('../img/about-tringles.svg');
}

.main-containter__all-advantages {
    position: relative;
    z-index: 10;
}
.feature__title {
    margin-top: 0;

    font-size: 18px;

    text-align: center;
}

.feature__content {
    font-size: 14px;
    line-height: 25px;

    text-align: center;
}
.feature__number {
    display: block;

    font-size: 14px;

    text-align: center;
}

.about__title,
.about__content {
    width: 255px;
    margin: 0 30px 0 30px;


    font-size: 18px;

    text-align: center;
}
.about__title {
    padding-top: 45px;
}
.about__content {
    padding-top: 30px;
    font-size: 14px;
    line-height: 25px;

    text-align: center;
}

.features {
  width: 320px;
}

.feature--ralated {
    height: 453px;

    font-size: inherit;

    color: white;
    background-color: #9ac0da;
}
.feature--ralated .feature__title {
    padding-top: 30px;

}
.feature--ralated:nth-child(1) .feature__content{
    width: 257px;
    padding-left: 32px;
    margin-bottom: 45px;
}

.feature--ralated .feature__content {
    width: 235px;
    padding-left: 42px;
    margin-bottom: 25px;
}
.feature--apartments .feature__title,
.feature--food .feature__title,
.feature--souvenirs  .feature__title{
    position: relative;

    margin-bottom: 25px;
    padding-left: 70px;

    text-align: left;
}

.feature--apartments .feature__title {
    padding-top: 38px;
}
.feature--apartments .feature__title:before {
    position: absolute;
    bottom: 0;
    left: 20px;

    width: 39px;
    height: 37px;

    content: '';

    background-image: url('../img/icon-1.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.feature--food .feature__title:before {
    position: absolute;
    bottom: 0;
    left: 20px;

    width: 40px;
    height: 35px;

    content: '';

    background-image: url('../img/icon-3.svg');
    background-repeat: no-repeat; 
}
.feature--souvenirs .feature__title:before {
    position: absolute;
    bottom: 0;
    left: 20px;

    width: 32px;
    height: 38px;

    content: '';

    background-image: url('../img/icon-2.svg');

}
.feature--apartments .feature__content,
.feature--food .feature__content,
.feature--souvenirs .feature__content {
    padding-bottom: 41px;
    padding-left: 70px;

    text-align: left;
}
.feature--apartments .feature__content {
    width: 210px;
}

.feature--souvenirs .feature__content  {
         width: 199px;
}
.feature--food .feature__content{
    width: 180px;
}

.feature--grey {
    height: 166px;

    background-color: #eee;
}
.feature--grey .feature__title {
    padding-top: 30px;
}

.feature--grey .feature__content {
    width: 208px;
    padding: 0 56px;
}

.feature--bridge {
    height: 260px;
}

.hotel-search {
    height: 288px;

    text-align: center;
}

.hotel-search__title {
    font-size: 21px;
    font-weight: 600;
    padding-top: 20px;
}

.hotel-search__suggestion {
    width: 257px;
    margin-left: 40px;

    font-size: 14px;
    line-height: 21px;
}
.btn {
    cursor: pointer;
    outline: none;
    border: none;
    text-transform: uppercase;
}
.hotel-search__btn {
    width: 280px;
    height: 58px;

    font-size: 18px;

    color: white;

    background-color: #81b2d1;
}
.map {
    height: 350px;

    background-image: url('../img/map-mobile.jpg');
}

.main-footer {
    height: 233px;

    text-align: center;
}

.link {
    display: block;
    padding-top: 31px;

    font-weight: 700;

    text-decoration: none;

    color: black;
}

.social-btn {
    display: flex;
    flex-direction: row;
    width: 150px;
    padding-left: 90px;

    list-style-type: none;

    justify-content: space-between;
}
.social-btn__item {
    display: flex;
    width: 46px;
    height: 48px;

    background-color: #81b2d1;

    justify-content: center;
    align-items: center;
}

.copyrights {
    position: relative;
}
.copyrights__development {
    position: absolute;
    top: 15px;
    left: 74px;

    font-size: 14px;
}
.copyrights__developer {
    position: absolute;
    right: 30px;
}