//*Mobile/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .icon__exit {
    position: absolute;
    z-index: 20;
    top: 7%;
    left: 85%;

    cursor: pointer;
  }
}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-exit {
    display: none;
  }
}

//*Desktop*
@media only screen and (min-width: 1200px) and (max-width: 3800px) {
  .icon-exit {
    display: none;
  }
}