$reason-color: #81b2d1;
$reasons-font-size: 14px;
@mixin reason-flex () {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

//*Mobile/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .reason {
    min-width: 320px;

    &--city,
    &--bridge {
      height: 470px;
      min-width: 320px;


      font-size: inherit;
      @include reason-flex;

    }
    &--grey {
      width: 320px;
      height: 168px;

    }
  }
  .reason__image {
    margin: 0;
  }
  .reason__content {
    min-width: 320px;
    height: 210px;
    color: white;
    text-align: center;
    background-color: $reason-color;
  }

}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .reason {
  width: 768px;

    &--city,
    &--bridge {
      width: 100%;
      height: 256px;
    }
    &--city {
      display: flex;
      flex-direction: row;
      min-width: 768px;
      height: 256px;
      justify-content: space-between;
    }
    &--bridge {
      flex-direction: row-reverse;
      order: 5;
    }
    &--grey {
      width: 33.3%;
      height: 256px;
      order: 6;
    }
  }
  .reason__image {
    margin: 0;
  }

  .reason__content {
    width: 256px;
    height: 256px;
    color: white;
    background-color: $reason-color;


  }
}

// Desktop
@media only screen and (min-width: 1200px) and (max-width: 1200px) {
  .reason {
    width: 1200px;

    &--city,
    &--bridge {
      width: 100%;
      height: 256px;

    }
    &--grey {
    height: 256px;
    width: 33.3%;
      height: 256px;
      order: 6;
    }
  }
  .reason__image {
    margin: 0;
  }

  .reason__content {
    width: 400px;
    height: 256px;
    color: white;
    background-color: $reason-color;
  }
}

