//*Mobile/
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .user-review {
        height: 1700px;
    }

    .user-review__fieldset {
        border: none;
        height: 305px;
    }

    .fieldset__title {
        font-size: 18px;
        line-height: 19px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .user-review__label {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 25px;
    }

    .input-field {
        height: 58px;
        background-color: #f2f2f2;
        border: none;
        margin-bottom: 20px;
        margin-left: 15px;
        color: black;
    }
    .user-review__label.user-review__label--contact {
        margin-left: 40px;
        margin-bottom: 25px;
    }

    .radio__label {
        color: #000000;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: capitalize;
    }
    .radio__input-block {
        margin-bottom: 40px;
    }
    .input-checkbox {
        margin-bottom: 20px;
    }

    .checkbox-label {
        text-transform: capitalize;
        color: #000000;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
    }
}